.ai-model-selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /*margin-top: 20px;*/
  margin-left: 10px;
  align-items: flex-start; /* Align to left */
}

.ai-model-label {
  font-weight: bold;
  font-size: 0.95em;
  margin-bottom: 2px;
  /*align-self: center;*/
}

.ai-options {
  display: flex;
  align-items: center; /* Align radio buttons and labels */
  gap: 6px; /* Space between button and label */
}

.ai-option-label {
  font-size: 0.8em;
  vertical-align: middle;
}
