<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [contentStyle]="{ overflow: 'visible' }"
  [style]="{width: '1000px' }"
  [blockScroll]="true"
  (onHide)="closeDialog()"
>
  <p-header>
    {{ "Szenario" | translate }}
  </p-header>
  <form #scenarioForm="ngForm">
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Name" | translate }} *:
      </div>
      <div class="col-10">
        <span class="md-inputfield">
          <input
            name="attachmentName"
            required
            [(ngModel)]="selectedScenario.name"
            class="p-inputtext ui-corner-all ui-state-default ui-widget"
            [style]="{ width: '100%' }"
          />
        </span>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Description" | translate }} *:
      </div>
      <div class="col-10">
         <span class="md-inputfield">
           <input
             name="attachmentDescription"
             required
             [(ngModel)]="selectedScenario.description"
             class="p-inputtext ui-corner-all ui-state-default ui-widget"
             [style]="{ width: '100%' }"
           />
         </span>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Image" | translate }}:
      </div>
      <div class="col-10">
        <p-fileUpload
          #fileUpload
          mode="advanced"
          [chooseLabel]="this.translate.instant('Dialog_ImageAdd')"
          chooseIcon="pi pi-upload"
          name="attachmentFileUpload"
          accept="image/*"
          auto="true"
          customUpload="true"
          (uploadHandler)="customImageUploader($event)"
        />
      </div>
    </div>
    <div style="padding-top: 1rem" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        class="discardButton"
        type="button"
        pButton
        icon="fa fa-close"
        (click)="closeDialog()"
        [label]="translate.instant('Dialog_Cancel')"
      ></button>
      <button
        class="saveButton"
        type="button"
        pButton
        icon="fa fa-check"
        (click)="scenarioForm.valid ? saveScenario() : null"
        [disabled]="!scenarioForm.valid"
        [label]="translate.instant('Dialog_Save')"
      ></button>
    </div>
  </form>
</p-dialog>
