<div>
  <app-nav-bar></app-nav-bar>
</div>

<p-table
  responsiveLayout="stack"
  #scenariosTable
  *ngIf="!loadingScenario else elseBlock"
  [value]="this.scenariosList"
  [paginator]="true"
  [rows]="tableRows"
  [columns]="[{ field: 'name', header: 'Name' }, { field: 'description', header: 'Description' }]"
  [pageLinks]="5"
  [rowsPerPageOptions]="tablePaginationSteps"
  [sortField]="'name'"
  [sortOrder]="1"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{{translate.instant('Table_Zeige')}}
                              {first}
                              {{translate.instant('Table_Bis')}}
                              {last}
                              {{translate.instant('Table_Von')}}
                              {totalRecords}
                              {{translate.instant('Table_Eintraege')}}"

>
  <ng-template pTemplate="caption">
    <div style="height: 35px">
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        [pTooltip]="translate.instant('ScenarioAdd')"
        tooltipPosition="top"
        showDelay="200"
        hideDelay="200"
        style="float:right; margin-right: 5px"
        (click)="addScenarioDialog()"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th id="visibleHeader" class="buttonCol row-no-border-bot">
        {{ "Dialog_Sichtbarkeit" | translate }}
      </th>
      <th id="editableHeader" class="buttonCol row-no-border-bot">
        {{ "Dialog_Bearbeitbarkeit" | translate }}
      </th>
      <th id="nameHeader" class="medium-text-column-header-nowidth row-no-border-bot"
          [pSortableColumn]="'name'">
        {{ "Dialog_Name" | translate }}
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th id="descriptionHeader" class="medium-text-column-header-nowidth row-no-border-bot"
          [pSortableColumn]="'description'">
        {{ "Dialog_Description" | translate }}
        <p-sortIcon [field]="'description'"></p-sortIcon>
      </th>
      <th id="actionsHeader" class="buttonCol row-no-border-bot"></th>
    </tr>
    <tr>
      <th id="visibleFilterHeader" class="buttonCol row-no-border-bot"></th>
      <th id="editableFilterHeader" class="buttonCol row-no-border-bot"></th>
      <th id="nameFilter" class="medium-text-column-header-nowidth row-no-border-bot">
        <p-columnFilter
          type="text"
          field="name"
          [placeholder]="translate.instant('Beinhaltet')"
        ></p-columnFilter>
      </th>
      <th id="descriptionFilter" class="medium-text-column-header-nowidth row-no-border-bot">
        <p-columnFilter
          type="text"
          field="description"
          [placeholder]="translate.instant('Beinhaltet')"
        ></p-columnFilter>
      </th>
      <th id="actionFilterHeader" class="buttonCol row-no-border-bot"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-scenario>
    <tr
      [pSelectableRowDblClick]="scenario"
      [pSelectableRow]="scenario"
      (dblclick)="editScenarioDialog(scenario)"
    >
      <td class="buttonCol">
        <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': scenario.visible, 'text-red-500 pi-times-circle': !scenario.visible }"></i>
      </td>
      <td class="buttonCol">
        <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': scenario.editable, 'text-red-500 pi-times-circle': !scenario.editable }"></i>
      </td>
      <td class="medium-text-column-body-nowidth">
        <span>{{
            scenario.name
          }}</span>
      </td>
      <td class="medium-text-column-body-nowidth">
        <span>{{
            scenario.description
          }}</span>
      </td>
      <td class="buttonCol">
        <span class="button-span">
           <button
             type="button"
             pButton
             class="button-columns-button-icon"
             icon="pi pi-eye"
             style="font-size: 0.65em; margin-right: 5px"
             [pTooltip]="translate.instant('ZeigeKarte')"
             tooltipPosition="top"
             showDelay="200"
             hideDelay="200"
             (click)="showScenarioMap(scenario); panel.toggle($event)"
             [disabled]="scenario.map === null"
           ></button>
          <button
            type="button"
            pButton
            class="button-columns-button-icon"
            icon="pi pi-pencil"
            style="font-size: 0.65em; margin-right: 5px"
            [pTooltip]="translate.instant('ScenarioEdit')"
            tooltipPosition="top"
            showDelay="200"
            hideDelay="200"
            (click)="editScenarioDialog(scenario)"
          ></button>
          <button
            type="button"
            pButton
            class="button-columns-button-icon"
            icon="pi pi-trash"
            style="font-size: 0.65em"
            [pTooltip]="translate.instant('ScenarioDelete')"
            tooltipPosition="top"
            showDelay="200"
            hideDelay="200"
            (click)="deleteScenarioById(scenario.id)"
          ></button>
        </span>
        <p-overlayPanel
          #panel
          appendTo="body"
        >
          <div *ngIf="!loadingMap else elseBlock">
            <img [src]="map" alt="Map" style="max-width: 350px; max-height: 350px">
          </div>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [colSpan]="5">
        {{ "Table_KeinEintrag" | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #elseBlock>
  <div class="flex justify-content-center align-items-center" style="height: 100%">
    <p-progressSpinner
      styleClass="spinner"
      strokeWidth="8"
      fill="#f8f9fa"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
</ng-template>

<app-scenario-dialog
  [(displayDialog)]="displayDialog"
  [editScenario]="editScenario"
  (scenariosList)="updateScenariosList($event)"
></app-scenario-dialog>
