<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [contentStyle]="{ overflow: 'visible' }"
  [style]="{width: '1000px' }"
  [blockScroll]="true"
  (onHide)="closeDialog()"
>
  <p-header>
    {{ "AlteKarte" | translate }}
  </p-header>
  <form #oldMapForm="ngForm">
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Name" | translate }} *:
      </div>
      <div class="col-10">
        <span class="md-inputfield">
          <input
            name="name"
            required
            [(ngModel)]="selectedOldMap.name"
            class="p-inputtext ui-corner-all ui-state-default ui-widget"
            [style]="{ width: '100%' }"
          />
        </span>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_DateOfMap" | translate }} *:
      </div>
      <div class="col-10">
         <span class="md-inputfield">
           <input
             name="dateOfMap"
             required
             [(ngModel)]="selectedOldMap.dateOfMap"
             class="p-inputtext ui-corner-all ui-state-default ui-widget"
             [style]="{ width: '100%' }"
           />
         </span>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Bearbeitbarkeit" | translate }}:
      </div>
      <div class="col-10">
        <p-toggleButton
          name="editable"
          [(ngModel)]="selectedOldMap.editable"
          onLabel="{{ 'Dialog_Bearbeitbar' | translate }}"
          offLabel="{{ 'Dialog_NichtBearbeitbar' | translate }}"
        ></p-toggleButton>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Sichtbarkeit" | translate }}:
      </div>
      <div class="col-10">
        <p-toggleButton
          name="visible"
          [(ngModel)]="selectedOldMap.visible"
          onLabel="{{ 'Dialog_Visible' | translate }}"
          offLabel="{{ 'Dialog_Invisible' | translate }}"
        ></p-toggleButton>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        {{ "Dialog_Image" | translate }}:
      </div>
      <div class="col-10">
        <p-fileUpload
          #fileUpload
          mode="advanced"
          [chooseLabel]="this.translate.instant('Dialog_ImageAdd')"
          chooseIcon="pi pi-upload"
          name="attachmentFileUpload"
          accept="image/*"
          auto="true"
          customUpload="true"
          (uploadHandler)="customImageUploader($event)"
        />
      </div>
    </div>
    <div style="padding-top: 1rem" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        class="discardButton"
        type="button"
        pButton
        icon="fa fa-close"
        (click)="closeDialog()"
        [label]="translate.instant('Dialog_Cancel')"
      ></button>
      <button
        class="saveButton"
        type="button"
        pButton
        icon="fa fa-check"
        (click)="oldMapForm.valid ? saveOldMap() : null"
        [disabled]="!oldMapForm.valid"
        [label]="translate.instant('Dialog_Save')"
      ></button>
    </div>
  </form>
</p-dialog>
