<div>
  <app-nav-bar-admin></app-nav-bar-admin>
</div>

<p-table
  responsiveLayout="stack"
  #oldMapsTable
  *ngIf="!loadingOldMap else elseBlock"
  [value]="this.oldMapsList"
  [paginator]="true"
  [rows]="tableRows"
  [columns]="[{ field: 'name', header: 'Name' }, { field: 'dateOfMap', header: 'Date of Map' }, { field: 'created_at', header: 'Created At' }]"
  [pageLinks]="5"
  [rowsPerPageOptions]="tablePaginationSteps"
  [sortField]="'name'"
  [sortOrder]="-1"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{{translate.instant('Table_Zeige')}}
                              {first}
                              {{translate.instant('Table_Bis')}}
                              {last}
                              {{translate.instant('Table_Von')}}
                              {totalRecords}
                              {{translate.instant('Table_Eintraege')}}"

>
  <ng-template pTemplate="caption">
    <div style="height: 35px">
      <button
        type="button"
        pButton
        icon="pi pi-eraser"
        [pTooltip]="translate.instant('Table_Reset')"
        tooltipPosition="top"
        showDelay="200"
        hideDelay="200"
        (click)="clearTable(oldMapsTable)"
        style="float: right; margin-right: 5px"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        [pTooltip]="translate.instant('OldMapAdd')"
        tooltipPosition="top"
        showDelay="200"
        hideDelay="200"
        style="float:right; margin-right: 5px"
        (click)="addOldMapDialog()"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th id="actionButtonsHeader" class="buttonCol row-no-border-bot"></th>
      <th id="nameHeader" class="medium-text-column-header-nowidth row-no-border-bot"
          [pSortableColumn]="'name'">
        {{ "Dialog_Name" | translate }}
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th id="descriptionHeader" class="medium-text-column-header-nowidth row-no-border-bot"
          [pSortableColumn]="'description'">
        {{ "Dialog_DateOfMap" | translate }}
        <p-sortIcon [field]="'description'"></p-sortIcon>
      </th>
      <th id="createdAtHeader" class="medium-text-column-header-nowidth row-no-border-bot"
          [pSortableColumn]="'created_at'" [style.width]="'100px'">
        {{ "Table_Am" | translate }}
        <p-sortIcon [field]="'created_at'"></p-sortIcon>
      </th>
      <th id="visibleHeader" class="buttonCol row-no-border-bot"></th>
    </tr>
    <tr>
      <th id="actionsButtonHeader" class="buttonCol row-no-border-bot"></th>
      <th id="nameFilter" class="medium-text-column-header-nowidth row-no-border-bot">
        <p-columnFilter
          type="text"
          field="name"
          [placeholder]="translate.instant('Beinhaltet')"
        ></p-columnFilter>
      </th>
      <th id="ndateOfMapFilter" class="medium-text-column-header-nowidth row-no-border-bot">
        <p-columnFilter
          type="text"
          field="dateOfMap"
          [placeholder]="translate.instant('Beinhaltet')"
        ></p-columnFilter>
      </th>
      <th id="createdAtFilter" class="medium-text-column-header-nowidth row-no-border-bot">
        <p-columnFilter
          type="text"
          field="created_at"
          [placeholder]="translate.instant('Beinhaltet')"
        ></p-columnFilter>
      </th>
      <th id="visiblesHeader" class="buttonCol row-no-border-bot"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-oldMap>
    <tr
      [pSelectableRowDblClick]="oldMap"
      [pSelectableRow]="oldMap"
      (dblclick)="editOldMapDialog(oldMap)"
    >
      <td class="buttonCol">
        <span class="button-span">
          <button
            type="button"
            pButton
            class="button-columns-button-icon"
            icon="pi pi-delete"
            style="font-size: 0.65em"
            [pTooltip]="translate.instant('OldMapDelete')"
            tooltipPosition="top"
            showDelay="200"
            hideDelay="200"
            (click)="deleteOldMapById(oldMap)"
          ></button>
          <button
            type="button"
            pButton
            class="button-columns-button-icon"
            icon="pi pi-pencil"
            style="font-size: 0.65em"
            [pTooltip]="translate.instant('OldMapEdit')"
            tooltipPosition="top"
            showDelay="200"
            hideDelay="200"
            (click)="editOldMapDialog(oldMap)"
          ></button>
          <button
            type="button"
            pButton
            class="button-columns-button-icon"
            icon="pi pi-eye"
            style="font-size: 0.65em"
            [pTooltip]="translate.instant('ZeigeKarte')"
            tooltipPosition="top"
            showDelay="200"
            hideDelay="200"
            (click)="showScenarioMap(oldMap)"
          ></button>
        </span>
      </td>
      <td class="medium-text-column-body-nowidth">
        <span>{{
            oldMap.name
          }}</span>
      </td>
      <td class="medium-text-column-body-nowidth">
        <span>{{
            oldMap.dateOfMap
          }}</span>
      </td>
      <td class="date-column">
        <span>{{ oldMap.createdAt }}</span>
      </td>
      <td class="buttonCol">
        <p-checkbox
          [binary]="true"
          value="oldMap.visible"
          disabled="true"
        ></p-checkbox>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [colSpan]="5">
        {{ "Table_KeinEintrag" | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #elseBlock>
  <div class="flex justify-content-center align-items-center" style="height: 100%">
    <p-progressSpinner
      styleClass="spinner"
      strokeWidth="8"
      fill="#f8f9fa"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
</ng-template>

<app-old-map-dialog
  [(displayDialog)]="displayDialog"
  [editOldMap]="editOldMap"
  (oldMapsList)="updateOldMapsList($event)"
></app-old-map-dialog>
